#contact {
    padding: 35px;
    display: grid;
    align-items: center;
    text-align: center;
    max-width: 1500px;
    margin: auto;
    /* background-color: #99c68e; */
}

#contact h2 {
    padding: 35px;
}

#contact img {
 padding: 10px 15px;
 width: 140px;
}

.contact-info-logo {
    align-items: center;
    display: flex;
    justify-content: center;
}
.contact-logo {
    text-align: left;
}

.contact-section {
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
    margin-bottom: 35px;
}

.contact-box form {
    border: 1px ;
    box-shadow: 0 0 45px 5px rgba( 0, 0, 0, 0.065 );
    background-color: #fff;
    padding: 35px;
    margin: 15px;
    display: grid;
    align-items: center;
}

.contact-box .input-field {
    width: 525px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
}

.contact-box .textarea-field {
    height: 150px;
}

.contact-box .btn {
    width: 75px;
    border-radius: 20px;
    color: #fff;
    margin-top: 18px;
    padding: 10px;
    /* background-color: #47c35a; */
    background-color: #99c68e;
    font-size: 12px;
    border: none;
    cursor: pointer;
    transition: 0.75s;
}

.contact-box .btn:hover {
   background-color: #008b76;
}

.contact-info {
    display: grid;
    justify-content: center;
    text-align: center;
}

@media(max-width:1200px) {
    .contact-section {
        display: grid;
        align-items: center;
        justify-content: center;
    }
}

@media(max-width:700px) {
    .contact-box .input-field {
        width: 90%;
    }

    .contact-box .textarea-field {
        width: 90%;
    }

    .contact-info iframe {
        height: auto;
        width: 100%;
    }
}

@media(max-width:500px){
    .contact-info-logo {
        display: inline-block;
    }

    .contact-info iframe {
        height: auto;
        width: 100%;
    }
}