#back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    outline: none;
    border: 3px solid #333;
    border-radius: 50%;
    transition: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
    z-index: 2;
}

#back-to-top-btn:hover {
    background-color: black;
    color: #fff;
}

@media(max-width: 700px) {
    #back-to-top-btn {
        font-size: 18px;
        width: 35px;
        height: 35px;
        bottom: 10px; 
        right: 10px; 
        background-color: #fff;
        color: #333;
    }

    #back-to-top-btn:hover {
      background-color: #fff;
        color: #333;
  }
}

/* Animations */
.btnEntrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
  }
  /* zoomIn */
  /* @keyframes btnEntrance { 
    from {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
    to {
      opacity: 1;
    }    
  } */
  
  /* fadeInUp */
  @keyframes btnEntrance {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  .btnExit {
    animation-duration: 0.25s;
    animation-fill-mode: both;  
    animation-name: btnExit;
  }
  /* zoomOut */
  /* @keyframes btnExit {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
  } */
  
  /* fadeOutDown */
  @keyframes btnExit {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  }