.header {
    min-height: 65vh;
    width: 100%;
    background-image: url("../../imagini/tablou-header6.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

.text-box {
    width: 90%;
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: aliceblue;
}

.text-box-button {
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    border: 1px solid aliceblue;
    padding: 12px 34px;
    font-size: 13px;
    background: #99c68e;
    position: relative;
    cursor: pointer;
    transition: 0.75s;
}

.text-box-button:hover {
    border: 1px solid aliceblue;
    /* sa fie egal cu culoarea liniutei de sub meniu */
    background: #008b76;
}

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 35px;
    }
}